body {
  margin: 0;
  font-family: Arial;
  background: #fff0f5;
  text-align: center;
}

.portada {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}

button {
  padding: 15px 25px;
  border: none;
  background: #ff4d6d;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: #e63956;
}

.oculto {
  display: none;
}

.tarjeta {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.final {
  margin: 50px 0;
}
