body {
  margin: 0;
  font-family: Arial;
  background: #fff0f5;
  text-align: center;
  overflow-x: hidden;
}

/* bloqueo */
.bloqueo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  text-align: center;
}

button {
  padding: 12px 20px;
  border: none;
  background: #ff4d6d;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#error {
  color: red;
}

/* contenido */
.oculto {
  display: none;
}

.titulo {
  margin-top: 40px;
}

/* carta */
.carta {
  background: white;
  width: 80%;
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  font-size: 1.2rem;
  line-height: 1.6;
}

/* mensajes */
.mensaje {
  margin: 20px;
  color: #444;
}

/* confeti */
#confeti {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
