body {
  margin: 0;
  font-family: Arial;
  background: #fff0f5;
  text-align: center;
  overflow-x: hidden;
}

/* portada */
.portada {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}

button {
  padding: 15px 25px;
  border: none;
  background: #ff4d6d;
  color: white;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: #e63956;
}

/* contenido */
.oculto {
  display: none;
}

.titulo {
  margin-top: 40px;
}

.tarjeta {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* corazones */
.heart {
  position: fixed;
  top: -10px;
  color: #ff4d6d;
  font-size: 20px;
  animation: caer linear forwards;
}

@keyframes caer {
  to {
    transform: translateY(110vh);
  }
}

/* confeti */
#confeti {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
